<h1>Cocktail list</h1>

<% @cocktails.each do |cocktail| %>
  <ul>
    <li><%= link_to cocktail.name,cocktail_path(cocktail.id) %></li>
  </ul>
<% end %>

<%= link_to "Add a new cocktail", new_cocktail_path %>

<%= cl_image_tag("https://res.cloudinary.com/dsszx2brq/image/upload/v1597396575/piriq2ypk7ojjogk7euo.jpg",
      width: 400, height: 300, crop: :fill) %>