<h1>Cocktail list</h1>

<% @cocktails.each do |cocktail| %>
  <ul>
    <% if cocktail.photo.attached? %>
      <%= cl_image_tag cocktail.photo.key, height: 50, width: 50, crop: :thumb %>
    <% end %>
    <li><%= link_to cocktail.name,cocktail_path(cocktail.id) %></li>
  </ul>
<% end %>

<%= link_to "Add a new cocktail", new_cocktail_path %>

