<h1>Cocktail list</h1>

<% @cocktails.each do |cocktail| %>
  <ul>
    <li><%= link_to cocktail.name,cocktail_path(cocktail.id) %></li>
  </ul>
<% end %>

<%= link_to "Add a new cocktail", new_cocktail_path %>

<%#= cl_image_tag("piriq2ypk7ojjogk7euo",
      width: 400, height: 300, crop: :fill) %>